<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="GameFontEditor.exe.le.config" Guid="58e4d3d9-659a-4e67-8810-f743c457690e" MainMenu="false">
      <Parameter></Parameter>
      <Location>en-UK</Location>
      <Timezone>Tokyo Standard Time</Timezone>
      <RunAsAdmin>true</RunAsAdmin>
      <RedirectRegistry>true</RedirectRegistry>
      <IsAdvancedRedirection>true</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>